---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section>

  <section>

{% for nft in NFT %}
{% if nft.visible === true %}
<section class="box">
  <p>{{nft.id}}  </p>
  <div>
    <img src="/img/{{nft.id}}.jpg">
    </div>
    <div>
    <strong>{{nft.name}}</strong><br>
    {{nft.date}}</div>
    </section>
    {% elif nft.visible === false%}
<section class="box">
  soon
    </section>
{% endif %}
{% endfor %}

</section>

</section>